Package: libwlroots-0.19-dbgsym
Source: wlroots
Version: 0.19.3-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Sway and related packages team <team+swaywm@tracker.debian.org>
Installed-Size: 1596
Depends: libwlroots-0.19 (= 0.19.3-1)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libwlroots-0.19
Build-Ids: 8e631d296bd3560b6783908200926f5b0bcbe2d2
