Package: libwlroots-0.19-examples
Source: wlroots
Version: 0.19.3-1
Architecture: amd64
Maintainer: Sway and related packages team <team+swaywm@tracker.debian.org>
Installed-Size: 404
Depends: libc6 (>= 2.34), libcairo2 (>= 1.2.4), libegl1, libgles2, libwayland-client0 (>= 1.23), libwayland-egl1 (>= 1.23), libwayland-server0 (>= 1.23), libwlroots-0.19 (>= 0.19.0~), libxkbcommon0 (>= 0.5.0)
Section: libs
Priority: optional
Homepage: https://gitlab.freedesktop.org/wlroots/wlroots/
Description: Modular wayland compositor library - binaries
 wlroots is a set of pluggable, composable modules to build a Wayland
 composior.
 .
 This package contains various examples on how to use wlroots.
